<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
{% if products %}
<h3>Products in Paniyo store</h3>
<table border="1">
    <thead>
    <tr>
        <th>Title</th>
        <th>Image</th>
        <th>Elements</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
        <td>{{ product.title }}</td>
        <td><img src={{MEDIA_URL}}{{ product.image }} alt={{ product.title }}>
        </td>
        <td>{{ product.elements }}</td>
        <td>{{ product.description }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No products available</p>
{% endif %}
</body>
</html>